.bg-background-med-dark-anim {
  --tw-bg-opacity: 1;
  background-size: 300% 300%;
  background-image: linear-gradient(
    90deg,
    rgba(31, 13, 43, 1) 0%,
    rgba(9, 10, 59, 1) 78%,
    rgba(20, 35, 56, 1) 100%
  );
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

.bg-background-med-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(7 10 27 / var(--tw-bg-opacity));
}

@keyframes colorize {
    0% {
      filter: grayscale(100%);
    }
    100% {
      filter: grayscale(0%);
    }
  };